In [1]:
# importing the libaray
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# import the train dataset
df_train=pd.read_excel('Data_Train.xlsx')

In [3]:
# import the test dataset
df_test=pd.read_excel('Data_Test.xlsx')

# joinig both the file so that operations can be performs on both the files simultaneosuly

In [4]:
data=pd.concat([df_train,df_test],sort=False)
data.head()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time
0,ID_6321,"FTI College, Law College Road, Pune","Fast Food, Rolls, Burger, Salad, Wraps",₹200,₹50,3.5,12,4,30 minutes
1,ID_2882,"Sector 3, Marathalli","Ice Cream, Desserts",₹100,₹50,3.5,11,4,30 minutes
2,ID_1595,Mumbai Central,"Italian, Street Food, Fast Food",₹150,₹50,3.6,99,30,65 minutes
3,ID_5929,"Sector 1, Noida","Mughlai, North Indian, Chinese",₹250,₹99,3.7,176,95,30 minutes
4,ID_6123,"Rmz Centennial, I Gate, Whitefield","Cafe, Beverages",₹200,₹99,3.2,521,235,65 minutes

In [5]:
data.Average_Cost.unique()

array(['₹200', '₹100', '₹150', '₹250', '₹650', '₹350', '₹800', '₹50',
       '₹400', '₹600', '₹300', '₹750', '₹450', '₹550', '₹1,000', '₹500',
       '₹900', '₹1,200', '₹950', '₹850', '₹700', '₹1,150', 'for',
       '₹1,100', '₹1,400', '₹2,050'], dtype=object)

# To eliminate RS sign

In [6]:
data["Average_Cost"]=data["Average_Cost"].str.replace("₹","")

In [7]:
data["Minimum_Order"]=data["Minimum_Order"].str.replace("₹","")

In [8]:
data["Delivery_Time"]=data["Delivery_Time"].str.replace("minutes","")

# Extracting city from address

In [9]:
data['City.Pune'] = data['Location'].apply(lambda x: 'Pune' if 'Pune' in x else None)
data['City.Kolkata'] = data['Location'].apply(lambda x: 'Kolkata' if 'Kolkata' in x else None)
data['City.Mumbai'] = data['Location'].apply(lambda x: 'Mumbai' if 'Mumbai' in x else None)
data['City.Bangalore'] = data['Location'].apply(lambda x: 'Bangalore' if 'Bangalore' in x else None)
data['City.Delhi'] = data['Location'].apply(lambda x: 'Delhi' if 'Delhi' in x else None)
data['City.Hyderabad'] = data['Location'].apply(lambda x: 'Hyderabad' if 'Hyderabad' in x else None)
data['City.Noida'] = data['Location'].apply(lambda x: 'Noida' if 'Noida' in x else None)
data['City.Gurgaon'] = data['Location'].apply(lambda x: 'Gurgaon' if 'Gurgaon' in x else None)
data['City.Majestic'] = data['Location'].apply(lambda x: 'Bangalore' if 'Majestic' in x else None)
data['City.Marathalli'] = data['Location'].apply(lambda x: 'Bangalore' if 'Marathalli' in x else None)
data['City.Electronic'] = data['Location'].apply(lambda x: 'Bangalore' if 'Electronic' in x else None)
data['City.Gurgoan'] = data['Location'].apply(lambda x: 'Gurgaon' if 'Gurgoan' in x else None)
data['City.Whitefield'] = data['Location'].apply(lambda x: 'Bangalore' if 'Whitefield' in x else None)

data['City'] = data['City.Pune'].map(str)+data['City.Kolkata'].map(str)+data['City.Mumbai'].map(str)+data['City.Bangalore'].map(str)+data['City.Delhi'].map(str)+data['City.Hyderabad'].map(str)+data['City.Noida'].map(str)+data['City.Gurgaon'].map(str)+data['City.Majestic'].map(str)+data['City.Marathalli'].map(str)+data['City.Electronic'].map(str)+data['City.Gurgoan'].map(str)+data['City.Whitefield'].map(str)

data['City'] = data['City'].apply(lambda x: x.replace('None',''))

In [10]:
data.head()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time,City.Pune,...,City.Delhi,City.Hyderabad,City.Noida,City.Gurgaon,City.Majestic,City.Marathalli,City.Electronic,City.Gurgoan,City.Whitefield,City
0,ID_6321,"FTI College, Law College Road, Pune","Fast Food, Rolls, Burger, Salad, Wraps",200,50,3.5,12,4,30,Pune,...,None,None,None,None,None,None,None,None,None,Pune
1,ID_2882,"Sector 3, Marathalli","Ice Cream, Desserts",100,50,3.5,11,4,30,None,...,None,None,None,None,None,Bangalore,None,None,None,Bangalore
2,ID_1595,Mumbai Central,"Italian, Street Food, Fast Food",150,50,3.6,99,30,65,None,...,None,None,None,None,None,None,None,None,None,Mumbai
3,ID_5929,"Sector 1, Noida","Mughlai, North Indian, Chinese",250,99,3.7,176,95,30,None,...,None,None,Noida,None,None,None,None,None,None,Noida
4,ID_6123,"Rmz Centennial, I Gate, Whitefield","Cafe, Beverages",200,99,3.2,521,235,65,None,...,None,None,None,None,None,None,None,None,Bangalore,Bangalore

In [11]:
data1=data[['City','Cuisines','Average_Cost','Minimum_Order','Rating','Votes','Reviews','Delivery_Time']]

In [12]:
data1

,City,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time
0,Pune,"Fast Food, Rolls, Burger, Salad, Wraps",200,50,3.5,12,4,30
1,Bangalore,"Ice Cream, Desserts",100,50,3.5,11,4,30
2,Mumbai,"Italian, Street Food, Fast Food",150,50,3.6,99,30,65
3,Noida,"Mughlai, North Indian, Chinese",250,99,3.7,176,95,30
4,Bangalore,"Cafe, Beverages",200,99,3.2,521,235,65
...,...,...,...,...,...,...,...,...
2769,Delhi,"Fast Food, Chinese",100,50,NEW,-,-,NaN
2770,Bangalore,"Continental, North Indian, Desserts, Beverages",250,50,3.1,5,1,NaN
2771,Hyderabad,"Andhra, South Indian",150,50,3.0,16,1,NaN
2772,Noida,Bakery,100,99,3.0,7,2,NaN
2773,Mumbai,"Italian, Street Food, Fast Food",150,50,3.6,99,30,NaN

In [14]:
data1.to_csv('Citywisedata.csv')

In [15]:
# function to count number of cuisines in particular restaurant
def countoc(s):
    a=s.split(',')
    return len(a)

In [16]:
# To test
countoc('Fast Food,Rolls,Burger,Salad,Wraps')

5

In [17]:
data1['Count Cuisine']=data1['Cuisines'].apply(lambda x:countoc(x))

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
data1.dtypes

City             object
Cuisines         object
Average_Cost     object
Minimum_Order    object
Rating           object
Votes            object
Reviews          object
Delivery_Time    object
Count Cuisine     int64
dtype: object

Converting non numerical values in numberical column to Nan

In [19]:
cols=['Average_Cost','Minimum_Order','Rating','Votes','Reviews','Delivery_Time']

In [20]:
data1[cols]=data1[cols].apply(pd.to_numeric,errors='coerce')

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [21]:
data1.dtypes

City              object
Cuisines          object
Average_Cost     float64
Minimum_Order      int64
Rating           float64
Votes            float64
Reviews          float64
Delivery_Time    float64
Count Cuisine      int64
dtype: object

In [22]:
data1.isnull().sum()

City                0
Cuisines            0
Average_Cost       31
Minimum_Order       0
Rating           2470
Votes            2616
Reviews          2905
Delivery_Time    2774
Count Cuisine       0
dtype: int64

In [23]:
data1['Average_Cost']=data1['Average_Cost'].fillna(data1['Average_Cost'].median())
data1['Rating']=data1['Rating'].fillna(data1['Rating'].median())
data1['Votes']=data1['Votes'].fillna(data1['Votes'].median())
data1['Reviews']=data1['Reviews'].fillna(data1['Reviews'].median())

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [26]:
data1.isna().sum()

City                0
Cuisines            0
Average_Cost        0
Minimum_Order       0
Rating              0
Votes               0
Reviews             0
Delivery_Time    2774
Count Cuisine       0
dtype: int64

Getting Test data before joining from cleaned data

In [27]:
test=data1[11094:]

In [28]:
test.head()

,City,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time,Count Cuisine
0,Bangalore,"North Indian, Chinese, Assamese",350.0,50,4.2,361.0,225.0,NaN,3
1,Bangalore,"Biryani, Kebab",100.0,50,3.6,63.0,26.0,NaN,2
2,Noida,Fast Food,100.0,50,3.6,36.0,16.0,NaN,1
3,Delhi,"Mithai, North Indian, Chinese, Fast Food, Sout...",200.0,50,3.6,66.0,33.0,NaN,5
4,Noida,"Chinese, Fast Food",150.0,50,2.9,38.0,14.0,NaN,2

In [29]:
train=data1[:11094]

In [30]:
train.isna().sum()

City             0
Cuisines         0
Average_Cost     0
Minimum_Order    0
Rating           0
Votes            0
Reviews          0
Delivery_Time    0
Count Cuisine    0
dtype: int64

Generating dummy variables for one hot encoding

In [31]:
x=train[['City','Average_Cost','Minimum_Order','Rating','Votes','Reviews','Count Cuisine']]
y=train['Delivery_Time']
x=pd.get_dummies(data=x,drop_first=True)

In [32]:
x1=test[['Delivery_Time']]
A=pd.get_dummies(data=x1,drop_first=True)

In [33]:
#fitting K-NN to the training set
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=1)
classifier.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [34]:
#Applying grid search for find the best model and the best parameters
from sklearn.model_selection import GridSearchCV
parameters=[{'n_neighbors' : [1,2,3,4,5,6]}]

grid_search= GridSearchCV(estimator= classifier,
                         param_grid=parameters,
                         scoring='accuracy',
                         cv=10,
                         n_jobs= -1)

In [35]:
grid_search=grid_search.fit(x, y)
best_accuracy=grid_search.best_score_
best_parameters=grid_search.best_params_

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

In [36]:
best_accuracy

0.7508563187308455

In [37]:
best_parameters

{'n_neighbors': 1}

In [38]:
# Fitting xgboost to the training set
from xgboost import XGBClassifier
classifier=XGBClassifier()
classifier.fit(x,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [44]:
# predicting the Test results
#y_pred=classifier.predict(x1)

ValueError: feature_names mismatch: ['Average_Cost', 'Minimum_Order', 'Rating', 'Votes', 'Reviews', 'Count Cuisine', 'City_Delhi', 'City_Gurgaon', 'City_Hyderabad', 'City_Kolkata', 'City_Mumbai', 'City_Noida', 'City_Pune'] ['Delivery_Time']
expected Average_Cost, Reviews, Rating, City_Hyderabad, City_Kolkata, City_Mumbai, City_Pune, City_Noida, Votes, City_Gurgaon, Minimum_Order, City_Delhi, Count Cuisine in input data
training data did not have the following fields: Delivery_Time